{% extends 'links/links-base.html' %}

{% block content %}
    <h1><a href="{{ object.url }}" target="_blank">{{ object.title }}</a></h1>
    <p>Submitted by: <b>{{ object.submitted_by }}</b></p>
    <p>Submitted on: <b>{{ object.submitted_on }}</b></p>

    <p><h2>New Comment</h2></p>
        <form action="{% url 'new-comment' %}?link_pk={{ object.pk }}" method="post">{% csrf_token %}
            {{ comment_form.as_p }}
            <input value="Comment" type="submit">
        </form>

    <p><h2>Comments</h2></p>
    <ul>
        {% for comment in comments %}
            <li>{{ comment.body }} (<a href="{% url "new-comment-reply" %}?parent_comment_pk={{ comment.pk }}&link_pk={{ object.pk }}">Reply</a>)</li>
        {% endfor %}
    </ul>
{% endblock %}