{% extends 'data_collector/alert_base.html' %}

{% block content %}
<h1>Defined Alerts</h1>
    {% if object_list %}
<table rules="all" frame="border">
<tr>
    <th>Data type</th>
    <th>Min value</th>
    <th>Max value</th>
    <th>Node name</th>
    <th>Is active</th>
    <th>Action</th>
</tr>
<tr>
    {% for alert in object_list %}
        <td>{{ alert.data_type }}</td>
        <td>{{ alert.min_value }}</td>
        <td>{{ alert.max_value }}</td>
        <td>{{ alert.node_name }}</td>
        <td>{{ alert.is_active }}</td>
        <td><a href="{% url "update_alert" pk=alert.pk %}">Edit</a> |
            <a href="{% url "delete_alert" pk=alert.pk %}">Delete</a> </td>
    {% endfor %}
</tr>
</table>
    {% else %}
        <I>No alerts!</I>
        <a href="{% url "new_alert" %}">Add alert</a>
    {% endif %}
{% endblock %}